body{
            display: flex;
            flex - direction: column; /* Stack elements vertically */
            justify - content: center;
            align - items: center;
            height: 100vh;
            margin : 0;
            background - color: #f0f0f0;
}
#circle - container{
    position: relative;
    width: 80vw;
    height: 80vh;
    border - radius: 50 %;
    margin - bottom: 20px; /* Space between the circle and player card container */
}
#player - card - container{
    display: flex;
    justify - content: center; /* Center the cards horizontally */
    align - items: flex - end; /* Align cards at the bottom */
    width: 80vw; /* Match the circle container's width */
    height: 100px; /* Fixed height for the player card container */
}
.playerCard{
    width: 105px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    background - size: cover;
    background - position: center;
    margin: 0 10px; /* Space between cards */
}
.botCard{
    position: absolute;
    width: 50px; /* Adjust size as needed */
    height: 75px; /* Adjust size as needed */
    background - size: cover;
    background - position: center;
}
#deck{
    position: absolute;
    width: 105px;
    height: 150px;
    background - size: cover;
    background - position: center;
    left: 50 %; /* Center horizontally */
    top: 40 %;  /* Center vertically */
    transform: translate(-45 %, -50 %); /* Adjust for the element's width and height */
}